<section class="portfolio-block hire-me">
    <div class="container breakWord">
        <div class="heading">
            <h2>Ajouter une Simplante</h2>
        </div>
        <div [hidden]="submitted">
            <form #simplanteForm="ngForm" (ngSubmit)="saveSimplante()">

                <div class="form-group">
                    <label for="auteur">Pseudo</label>
                    <input #pseudo="ngModel" [(ngModel)]="simplante.title" class="form-control" maxlength="10" maxlength="10"
                           minlength="3"
                           name="pseudo" required type="text">
                    <div *ngIf="pseudo.invalid && (pseudo.dirty || pseudo.touched)" class="alert alert-danger">
                        <div *ngIf="pseudo.errors.required">
                            Pseudo requis.
                        </div>
                        <div *ngIf="pseudo.errors.minlength">
                            Pseudo ne peut avoir moins de 3 caractères.
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="contenu">Texte</label>
                    <textarea #contenu="ngModel" [(ngModel)]="simplante.body" class="form-control" maxlength="280"
                    name="contenu"
                              required></textarea>
                    <div [hidden]="contenu.valid || contenu.pristine" class="alert alert-danger">
                        Contenu requis
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6 button">
                            <button [disabled]="!simplanteForm.form.valid" class="btn btn-primary btn-block"
                                    type="submit">Ajouter
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div [hidden]="!submitted" class="portfolio-block project-no-images">
            <div class="container breakWord">
                <h2>Vous avez ajouté :</h2>
                <div class="project-card-no-image">
                    <div class="row">
                        <div class="col-xs-3">Pseudo :</div>
                        <div class="col-xs-9">{{simplante.title }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">Contenu :</div>
                        <div class="col-xs-9">{{simplante.body }}</div>
                    </div>
                </div>
                <br>
                <button [routerLink]="['/simplante']" class="btn btn-primary">Voir les simplantes</button>
            </div>
        </div>
    </div>
</section>
