<app-create-post></app-create-post>
<div class="card  gedf-card" *ngFor="let s of pagesSimplante">
    <div class="card-header bg-gradient text-white border-light">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                    <img class="rounded-circle" width="45" src="../../assets/img/avatars/profil.png" alt="profil">
                </div>
                <div class="ml-2">
                    <div class="h5 m-0">{{s.userUsername}}</div>
                    <div class="h7 small">Name Lastame</div>
                </div>
            </div>
            <div>
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                        <div class="h6 dropdown-header">Configuration</div>
                        <a class="dropdown-item" href="#">Sauvegarder</a>
                        <a class="dropdown-item" href="#">Signaler</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="text-muted small mb-2 float-right"><i
                class="far fa-clock mr-1"></i>{{ s.createDate | date:'d MMM y HH:mm' }}</div>
        <a class="card-link" [routerLink]="['/simplante', s.id]">
            <h5 class="card-title">{{ s.title}}</h5>
        </a>
        <p class="card-text">{{ s.body}}</p>
    </div>
    <div class="card-footer">
        <a href="#" class="card-link"><i class="fab fa-gratipay"></i> Like</a>
        <a [routerLink]="['/simplante', s.id]" class="card-link"><i class="fas fa-comment"></i> Commentaires</a>
    </div>
</div>
