<main class="page projets-page">
  <section class="portfolio-block project-no-images">
    <div class="container breakWord">
      <div class="heading">
        <h2>{{title}}</h2>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-6" *ngFor="let s of pagesSimplante">
          <div class="project-card-no-image">
            <div class="tags">{{ s.createDate | date:'d MMM y HH:mm' }}</div>
            <h3>{{s.title}}</h3>
            <h4>{{s.body}}</h4>
            <a class="btn btn-outline-primary btn-sm" role="button" [routerLink]="['/simplante', s.id]">Voir</a>
            <!--<div class="tags">{{ s.categorieId }}</div>-->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
