<div class="card" *ngIf="isAuthenticated()">
    <div class="card-body" *ngIf="currentUser" >
        <div class="h5">@{{currentUser.username}}</div>
        <div class="h7 text-muted"> Nom Complet: {{currentUser.firstName}} {{currentUser.lastName}} </div>
    </div>
</div>
<br>
<h4>Categories</h4>
<hr>
<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let categorie of categories">
            <a [routerLink]="['/category', categorie.id, 'simplante']">{{categorie.name}}</a>
        </li>
    </ul>
</div>

<!-- <div class="list-group">
    <span class="list-group-item">
        Categorie
    </span>
    <a class="list-group-item list-group-item" *ngFor="let categorie of categories"><i class="far fa-folder-open"></i>{{categorie.name}}</a>
</div> -->