<header>
  <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
    <div class="container">
      <a class="navbar-brand logo flex-grow-1" routerLink='/home'>Simplante</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle
          navigation</span><span class="navbar-toggler-icon"></span></button>
      <!-- <div class="flex-grow-1 d-flex justify-content-center">
        <form class="form-inline my-2 my-lg-0 flex-nowrap">
          <input class="form-control mr-sm-2" [(ngModel)]="motCle" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="SimplantesComponent.chercher()">Q</button>
        </form>
      </div> -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item" role="presentation"><a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLinkActive="active" routerLink='/simplante'>Les
              Simplantes</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLinkActive="active" routerLink='/addSimplante'>Ajouter
              Simplantes</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
