/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "sans-serif";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.breakWord {
    word-break: break-word;
}

.bg-gradient {
    background: linear-gradient(120deg, #007bff, #00b7ff);
}

html {
    overflow-x: hidden;
}

body {
    background-color: #f8f8f8 !important;
    /* background-color: #e9ebee !important; */
}

.gedf-wrapper {
    margin-top: 0.97rem;
    padding-top: 50px;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/* *Reset Bootstrap
.dropdown-toggle::after {
  content: none;
  display: none;
} */