<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<div class="container" *ngIf="currentUser" >
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Profil</h4>
      </div>
      <div class="panel-body">
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4 float-left">
          <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
            id="profile-image1" class="img-circle img-responsive">


        </div>
        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8 float-right">
          <div class="container">
            <h2>{{currentUser.firstName}} {{currentUser.lastName}}</h2>
            <p>pseudo: <b>{{currentUser.username}}</b></p>
          </div>
          <hr>
          <ul class="container details">
            <!-- <li>
              <p><span class="glyphicon glyphicon-user one" style="width:50px;"></span>i.rudberg</p>
            </li> -->
            <li>
              <p><span class="fas fa-envelope" style="width:50px;"></span>{{currentUser.email}}<p>
            </li>
          </ul>
          <hr>
          <div class="col-sm-6 col-xs-6 tital ">Date d'enregistrment: {{currentUser.registerDate | date:'dd/MM/y à HH:mm'}}</div>
        </div>
      </div>
    </div>
  </div>
</div>