/* .form-control {
    width: 200px;
} */
.simp-nav {
    height: 50px !important;
    color: #fff;
}

.simp-nav a {
    color: #fff;
}

.top-form input[type="text"] {
    width: 439px;
    height: 28px;
    border: none;
    outline: none;
    border-radius: 0;
}

.top-form input[type="text"]:focus {
    border-color: transparent;
}

.top-form button {
    width: 46px;
    height: 28px;
    border: none;
    outline: 0;
    border-radius: 0;
    padding: 0;
    margin-left: -46px;
    background-color: transparent;
}

.top-form button i {
    color: #27282c;
}

.wrapper {
    width: 97%;
    margin: 0 auto;
}
.dropdown-menu {
    background-color: #00adff;
    margin: .125rem -26px 0;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }

.dropdown-menu > a:hover {
    background-color: #00b7ff;
    background-image: none;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 31%;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
@media (max-width: 994px) {
    .top-form input[type="text"] {
        width: auto;
    }

}

@media (max-width: 767px) {
    .simp-nav {
        height: auto !important;
    }

}