    <section *ngIf="simplante">
        <div class="card gedf-card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-2">
                            <img alt="" class="rounded-circle" src="../../assets/img/avatars/profil.png" width="45">
                        </div>
                        <div class="ml-2">
                            <div class="h5 m-0">{{simplante.user.username}}</div>
                            <div class="h7 text-muted">Name Lastname</div>
                        </div>
                    </div>
                    <div>
                        <div class="dropdown">
                            <button aria-expanded="false" aria-haspopup="true" class="btn btn-link dropdown-toggle"
                                    data-toggle="dropdown"
                                    id="gedf-drop1" type="button">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div aria-labelledby="gedf-drop1" class="dropdown-menu dropdown-menu-right">
                                <div class="h6 dropdown-header">Configuration</div>
                                <a class="dropdown-item" href="#">Sauvegarder</a>
                                <a class="dropdown-item" href="#">Signaler</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="text-muted small mb-2 float-right"><i
                        class="far fa-clock mr-1"></i>{{ simplante.createDate | date:'d MMM y HH:mm' }}</div>
                <h5 class="card-title">{{ simplante.title}}</h5>
                <p class="card-text text-muted">{{ simplante.body}}</p>
            </div>
            <div class="card-footer">
                <a class="card-link" href="#"><i class="fab fa-gratipay"></i> Like</a>
                <a class="card-link" href="#"><i class="fa fa-comment"></i> Commentaires</a>
            </div>
        </div>
    
           <a (click)="goBack()" class="btn btn-primary text-white btn-sm" role="button"
           style="cursor: pointer;">Retour</a>
            </section>
